@import url(themify-icons.css);
.rotate-x {
  animation: rotate-x 5s;
  -moz-animation: rotate-x 5s;
  -webkit-animation: rotate-x 5s;
  -o-animation: myfirst 5s; }

.rotate-x-infinite, .wi-wind-defaul-animation {
  animation: rotate-x 5s infinite;
  -moz-animation: rotate-x 5s infinite;
  -webkit-animation: rotate-x 5s infinite;
  -o-animation: myfirst 5s infinite; }

@keyframes rotate-x {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes rotate-x {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes rotate-x {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes rotate-x {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans/OpenSans-Regular.eot");
  src: url("fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("fonts/OpenSans/OpenSans-Regular.svg#Open Sans") format("svg");
  font-weight: normal;
  font-style: normal; }
.m-icon-display h1 {
  color: #444;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 60px; }
.m-icon-display ul {
  margin: 0;
  padding: 0;
  text-align: center; }
  .m-icon-display ul li {
    display: inline-block;
    margin: 10px;
    list-style: none;
    cursor: pointer; }
    .m-icon-display ul li span {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-transition: all 400ms ease-out 0s;
      -moz-transition: all 400ms ease-out 0s;
      -o-transition: all 400ms ease-out 0s;
      transition: all 400ms ease-out 0s;
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg); }
      .m-icon-display ul li span i {
        display: inline-block;
        margin: 0;
        color: #747f8c;
        font-size: 32px;
        line-height: 60px;
        opacity: 0.3;
        filter: alpha(opacity=60);
        -webkit-transition: all 400ms ease-out 0s;
        -moz-transition: all 400ms ease-out 0s;
        -o-transition: all 400ms ease-out 0s;
        transition: all 400ms ease-out 0s;
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg); }
    .m-icon-display ul li:hover span, .m-icon-display ul li.active span {
      background-color: #02b9e3;
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg); }
      .m-icon-display ul li:hover span i, .m-icon-display ul li.active span i {
        color: #FFFFFF;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg); }

.wi-wind-defaul-animation:before {
  content: "\f0b1"; }
